<div class="row">
  <div class="col-md-6">
    <h1>Login</h1>

<form class=" form login-form"
<div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" name="username" id="email" placeholder="Enter your email id">
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-info btn-block">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            New user? Sign up <a href="/signup">here</a>
                        </div>
                    </div>
                </div>
            </form>
        